@charset "UFT-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F2D9BB,  #D9ADAD);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #583c2ca2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #caa500;
    text-shadow: 1px 1px 2px #856c00c7;
}
h2{
    color: #282370;
}
p{
    text-align: justify;
}
